/* src/styles/indexCharacterIntroduction.css */

/* 容器样式 */
.character-container {
    display: flex;           /* Flex 布局 */
    width: 80%;           /* 固定宽度 */
    min-height: 80vh;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background-color: transparent;

    grid-area: character-container;
}

/* 通用子元素样式 */
.character-item {
    display: flex;
    height: 100%;           /* 统一高度 */
    border: 2px solid #000;  /* 边框（可选） */
    box-sizing: border-box;  /* 确保边框不影响宽度计算 */
    margin: 20px;
    background-image: '/image/Reserver_Example_1.jpg';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 按比例分配宽度 */
.character-trigger-L,
.character-trigger-R {
    flex: 1;                 /* 比例 1 */
    background: lightblue;    /* 调试用颜色 */
    border: 5px solid #FF00CC;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.character-EmptyBlock {
    flex: 5;                 /* 比例 4 */
    background: lightgreen;   /* 调试用颜色 */
    border: 5px solid #FF99CC;
    height: 100%;
    padding: 10px;
    min-width: 0;
}