/* src/styles/indexHeroBanner.css */

.hero-banner {
    /* 背景设置 */
    background-image: url('/image/Reserve_Example.jpg');
    background-size: cover;      /* 填充整个区域 */
    background-position: center; /* 居中显示 */
    background-repeat: no-repeat;

    /* 尺寸设置 */
    width: 100%;
    /* 视口宽度 */
    height: 100vh;
    /* 覆盖容器-裁剪 */
    object-fit: cover;
    /* 视口高度 */
    margin: 0;
    /* 清除默认边距 */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    /* 确保在导航栏下方 */
    position: relative;
    //z-index: 10;
    /* 低于导航栏的z-index */
}

{/*巨大海报里包含的文字*/}
.hero-content {
    color: white;              /* 文字颜色 */
    font-size: 26px;           /* 文字大小 */
    position: relative;
    right: 15%;
    padding: 20px;
    background-color: transparent; /* 透明背景衬底 */
    border-radius: 10px;
}

{/*跳转键距离控制*/}
.link-container {
    display: flex;          /* 启用弹性布局 */
    align-items: center;    /* 垂直居中 */
    gap: 10px;             /* 最小间距（现代浏览器） */
}