/* src/styles/indexOverlayWindow.css */

#window-trigger {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    color: white;
    display: inline-block;
}

.overlay-core {
    /* 基础布局 */
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;

    transition: opacity 0.5s ease;
}

#overlay-window-L {
    display: flex;
    width: 90%;
}

#overlay-window-L.hidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

#overlay-content-L{
    ;
}

#overlay-window-R {
    display: flex;
    width: 90%;
}

#overlay-window-R.hidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

#overlay-content-R{
    ;
}