/* src/styles/indexCharacterIntroduction.css */

/* 容器样式 */
.character-container {
    display: flex;           /* Flex 布局 */
    width: 100%;           /* 固定宽度 */
    margin: 0 auto;
    position: relative;

    text-align: center;
    font-size: 16px;
    font-weight: normal;

    background-image: url('/image/indexCharacterIntro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-area: character-container;
}

.character-container::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 比例 */
    /* 或者用 JS 动态计算 */
}

/* 通用子元素样式 */
.character-item {
    display: flex;
    height: 95%;           /* 统一高度 */
    width: 100%;
    margin: 20px;
}

/* 按比例分配宽度 */
.character-trigger-L,
.character-trigger-R {
    flex: 3;                 /* 比例 3 */
    height: 95%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.character-EmptyBlock {
    flex: 5;                 /* 比例 5 */
    height: 95%;
    padding: 10px;
    min-width: 0;
}