/* src/styles/indexOverlayWindow.css */

.window-trigger-L, .window-trigger-R {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    color: white;
    display: inline-block;
    position: relative;
}

#overlay-core {
    grid-area: character-container;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: none; /* 默认隐藏 */
}

#overlay-window-L {
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    height: 80%;
    min-height: 80%;
    left: 10%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 10px solid #e0e0e0;

    overflow: hidden;
    animation: L-SlideIn 0.5s ease-out;
}

#overlay-window-R {
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    height: 70%;
    max-height: 70%;
    right: 10%; /* 距离右边10vw */
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 10px solid #e0e0e0;

    overflow: hidden;
    animation: R-SlideIn 0.5s ease-out;
}

#indexImage-L, #overlay-content-R1,
#overlay-content-L2, #indexImage-R,
#overlay-content-ContainL, #overlay-content-ContainR {
    border: 5px solid #FF99CC;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    display: flex;              /* 启用 Flex 布局 */
    justify-content: center;    /* 水平居中 */
    align-items: center;        /* 垂直居中 */
    width: 100%;               /* 确保宽度填满父容器 */
    height: 100%;              /* 确保高度填满父容器 */
}

#indexImage-L, #indexImage-R {
    position: relative;
    min-height: 90%;
    height: 600px;
    overflow: hidden;
}

#overlay-window-L[style*="display: none"] #indexImage-L {
    height: 0 !important;
}

/* 父元素显示时，子元素高度自动填充 */
#overlay-window-L[style*="display: flex"] #indexImage-L {
    height: 100%;
}

#overlay-window-R[style*="display: none"] #indexImage-R {
    height: 0 !important;
}

/* 父元素显示时，子元素高度自动填充 */
#overlay-window-R[style*="display: flex"] #indexImage-R {
    height: 100%;
}

#overlay-content-BtnL, overlay-content-BtnR {
    border: 5px solid #FF99CC;
    margin: 10px;
    padding: 10px;
}

/* 动画效果 */
@keyframes L-SlideIn {
    from {
        opacity: 0;
        display: none;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        display: flex;
        transform: translateX(0);
    }
}

@keyframes R-SlideIn {
    from {
        opacity: 0;
        display: none;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        display: flex;
        transform: translateX(0);
    }
}