/* src/styles/musicPlayer.css */

#musicPlayerButton {
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#backgroundMusic{
    display: none;
}

#musicPlayerButton:hover {
    background: #FF6666; /* 播放时按钮变红色 */
}