/* src/styles/pre-order/Overview.css */

.overview-container {
    width: 100%;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    overflow: hidden; /* 防止动画溢出 */

    gap: 10px;
    flex-direction: row;
}

.overview-game {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 10px solid #e0e0e0;
}