/* src/styles/pre-order/Overview.css */

.overview-container {
    width: 100%;
    min-height: 30vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    overflow: hidden; /* 防止动画溢出 */

    gap: 10px;
    flex-direction: row;
}

.overview-game {
    flex: 1;
    height: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 10px solid #e0e0e0;
}

.overview-icon {
    flex: 3;
    display: flex;
    max-height: 300px;
    align-items: center;
    justify-content: center;
}

.overview-text {
    flex: 5;
    display: flex;
    border: 5px solid #CCCCFF;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}