---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于某些东西"
	description="哎要不要试试联系管理员"
	pubDate={new Date('May 09 2077')}
	heroImage="/20250802_114801_122190299_p0.jpg"
>
	<p>
		先欣赏一下奶龙色图
	</p>

	<p>
		Matsushita Rinkawa 哈气了<br>
		哈气直通车：krs_noelrose@foxmail.com
	</p>

	<p>
		你说得对但是这里是千秋子的联系方式
	</p>

	<p>
		你说得对但是这里是Morind的联系方式
	</p>

	<p>
		你说得对但是这里是这个静态的动态网页的gayhub仓库的地址
		<a href="https://github.com/MitsuneEdge/project-seinenaki">Project-Seinenaki by Lolita High-Tech</a>
	</p>
</Layout>
