---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="时载录 - 永律之羽 开发团队"
	description="哎要不要试试联系管理员"
	pubDate={new Date('May 09 2077')}
	heroImage="/image/war&kal.png"
>
    <div style="display: flex; padding: 15px; margin: 10px;">
        <div style="flex: 3; border: 5px solid #CC3399; border-radius: 10px;">
            <img src="/image/Rinkawa.jpg" style="max-height: 300px; object-fit: contain;">
        </div>
        <div style="flex: 5; border: 5px solid #CCCCFF; border-radius: 10px;">
            <p>
                网站管理 & Dev<br>
                Matsushita Rinkawa 哈气了<br>
                哈气直通车：krs_noelrose@foxmail.com
            </p>
        </div>
    </div>

	<p>
		你说得对但是这里是千秋子的联系方式
	</p>

	<p>
		你说得对但是这里是Morind的联系方式
	</p>

	<p>
		你说得对但是这里是这个静态的动态网页的gayhub仓库的地址<br>
		<a href="https://github.com/MitsuneEdge/project-seinenaki">Project-Seinenaki by Lolita High-Tech</a><br>
		发现网页问题请提交issue
	</p>
</Layout>
