---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hint from '../components/devHint.astro';
import DisplayWarn from '../components/displayWarning.astro';
---

<!doctype html>
<html lang="zh-CN">

    <style>
    </style>

    <head>
    		<BaseHead title={"游戏下载"} description={"游戏下载"} />
    </head>

    <body>
        <Header />
        <Hint />
        <DisplayWarn />

        <main>
            <h1 style="text-align:center;">构建中</h1>
        </main>

        <div id="test-video2" style="text-align:center;">
            <video width="240" height="240" controls>
                <source src="/video/hihihiha.mp4" type="video/mp4">
            </video>
        </div>

        <Footer />
    </body>

</html>
