---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>你是谁？ 请支持百日战记！</h2>
			<p>
				我说有没有人帮我看看这个抽象的静态网页的多媒体库存在哪里啊<br>
				气死了喵气死了喵气死了喵气死了喵<br>
				话说我还在想怎么调整显示窗口<br><br
				哎怎么个事怎么个事怎么个事，谁去看看那个tsconfig.json的引用为什么是爆的
			</p>

			<img src="ivytype.gif">
			<img src="huh_cat.gif">
			<img src="ivytype.gif">

			<p>
			    这里之前测试过bilibili的嵌入视频播放<br>
			    窗口小的奇怪，不过能用<br>
			</p>

			<div id="content-wrapper">
                <slot />
                    <video width="240" height="240" controls>
                    <source src="hihihiha.mp4" type="video/mp4"></video>
            </div>

            {/*

            实践证明可以往里面塞视频
			<video width="320" height="240" controls>
              <source src="hihihiha.mp4" type="video/mp4">
            </video>

            */}

			<p>
			    R：我说先这样搞着玩会<br>
				M：看不懂喵，关注永雏塔菲谢谢喵。
			</p>
			<p>
				不许删掉这行否则有人忘记怎么操作astro就给我滚出去
				<a href="https://docs.astro.build/zh-cn/getting-started/">Astro文档</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
