---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hint from '../components/devHint.astro';
import '../styles/pre-order/Overview.css';
---

<!doctype html>
<html lang="zh-CN">

    <style>
    </style>

    <head>
        <BaseHead title={"系列游戏预约下载"} description={"预约游戏"} />
    </head>

    <body>
        <Header />
        <Hint />

        <div class="overview-container">
            <div class="overview-game">单元1</div>
            <div class="overview-game">单元2</div>
            <div class="overview-game">单元3</div>
        </div>

        <main>

        </main>

        <Footer />
        <script src="../script/Jump2Target.js"></script>
    </body>
</html>
