---
import '../styles/musicPlayer.css';
---

<header>
    <nav>
        <button class="jump2page" data-target="hero-banner">顶部海报</button>
        <button class="jump2page" data-target="character-container">角色介绍</button>
        <button class="jump2page" data-target="GameScreenshot-container">设定展示</button>
        <button class="jump2page" data-target="GameMechanics-container">玩法展示</button>
        <button class="jump2page" data-target="storyIntroduce">关于游戏</button>
        <button id="musicPlayerButton">播放音乐</button>
        <audio id="backgroundMusic"></audio>
    </nav>
    <div class="key">
        <img src="/image/key1.png" style="width: 10px; align-items: center;">
    </div>
</header>
<style>
    header {
        white-space: nowrap;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 10vw;
        max-width: 90px;
        min-height: 30vh;
        max-height: 300px;

        background: #f8f9fa;
        border-right: 5px solid #666699;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        z-index: 1000;

        padding: 15px 0;
        box-sizing: border-box;
    }
    
    .key{
        ;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        height: 100%;
    }

    

    .jump2page {
        font-size: 16px;
        cursor: pointer;
        background-color: #993399;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    }

    /* 鼠标悬停效果 */
    .jump2page:hover {
        background-color: #336699;
    }
</style>
<script src="../script/musicPlayerControl.js"></script>
<script src="../script/Jump2Target.js"></script>