---
import '../styles/musicPlayer.css';
import '../styles/indexSidebar.css';
---

<header class="indexSidebar-header">
    <nav class="indexSidebar">
        <button class="jump2page" data-target="hero-banner">顶部海报</button>
        <button class="jump2page" data-target="character-container">角色介绍</button>
        <button class="jump2page" data-target="GameScreenshot-container">设定展示</button>
        <button class="jump2page" data-target="GameMechanics-container">玩法展示</button>
        <button class="jump2page" data-target="storyIntroduce">关于游戏</button>
        <button id="musicPlayerButton">播放音乐</button>
        <audio id="backgroundMusic"></audio>
    </nav>
    <div class="key">
        <img src="/image/key/key1.png">
    </div>
</header>

<style>
</style>

<script src="../script/indexSidebar.js"></script>
<script src="../script/musicPlayerControl.js"></script>
<script src="../script/Jump2Target.js"></script>