/* src/components/tempText.astro */

const tempText = ({ children }) => {
    return <p style={{ textAlign: 'left', textIndent: '2em' }}>{children}</p>;
};

// 使用方式
<tempText>
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
    这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作这里填充大量文字以验证对称性是否正常工作
</tempText>