---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hint from '../components/devHint.astro';
---

<!doctype html>
<html lang="zh-CN">
    <style>

    </style>
    <head>
        <BaseHead title={"下载《时载录-永律之羽》"} description={"下载《时载录-永律之羽》"} />
    </head>
    <body>
        <Header />
        <Hint />
        <Footer />
    </body>
</html>